// Here you can add other styles

.core-logo-sidebar {
  width: 70%;
}

.core-logo-header {
  width: 40%;
  margin: 0px;
}

.react-viewer-mask {
  z-index: 9990 !important;
}

.react-viewer-close {
  z-index: 9999 !important;
}

.react-viewer-canvas {
  z-index: 9995 !important;
}

.react-viewer-footer {
  z-index: 9999 !important;
}

.c-avatar-img {
  border-radius: 0px !important;
}
